// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-list{
    --background: #000;
}

ion-content {
    text-align: center;
}

.icon {
    vertical-align: bottom;
}

q {
    quotes: "“" "”";
}


  ion-card-subtitle {
    --background: white;
    --color: black;
    --font-size: large;
  }
  
  ion-img {
    max-width: 100%;
    height: auto;
  }
  
  ion-card-subtitle {
    font-size: x-large;
    color: black;
  }
  
  ion-card-content > p {
    font-size: medium;
  }
  
  .align-right {
    margin-left: auto;
    margin-right: 0;
    text-align: right;
  }
  
  span > img {
    margin-top: 10px;
    width: 24px;
    height: auto;
    display: inline-block;
    padding: 1px;
  }
  