* {
  font-family: Open Sans,sans-serif;
}

ion-card-subtitle {
  --background: white;
  --color: black;
  --font-size: large;
}



ion-img {
  max-width: 100%;
  height: auto;
}

ion-card-subtitle {
  font-size: x-large;
  color: black;
}

ion-card-content > p {
  font-size: medium;
}

.align-right {
  margin-left: auto;
  margin-right: 0;
  text-align: right;
}

span > img {
  margin-top: 10px;
  width: 24px;
  height: auto;
  display: inline-block;
  padding: 1px;
}

